<main>
  <div class="featured-slider-2">
      <div class="featured-slider-2-items">
          <!-- <div class="slider-single">
              <div class="post-thumb position-relative">
                  <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/BDS/nen.jpg)">
                      <div class="post-content-overlay">
                          <div class="container">
                              <h1 class="post-title mb-20 font-weight-900 text-white">
                                  <a class="text-white"  tabindex="0">Chuyên gia nhận định gì về bất động sản TP. Thủ Đức?</a>
                              </h1>
                              <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                  <span class="post-on">26 August 2020</span>
                                  <span class="hit-count has-dot">18k Views</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="slider-single">
              <div class="post-thumb position-relative">
                  <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/BDS/nen.jpg)">
                      <div class="post-content-overlay">
                          <div class="container">
                              <h1 class="post-title mb-20 font-weight-900 text-white">
                                  <a class="text-white"  tabindex="0">Đất nông nghiệp đã hết hạn sử dụng có bán được hay không?</a>
                              </h1>
                              <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                  <span class="post-on">15 September 2020</span>
                                  <span class="hit-count has-dot">23k Views</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
          <div class="slider-single">
              <div class="post-thumb position-relative">
                  <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/BDS/nen.jpg)">
                      <div class="post-content-overlay">
                          <div class="container">
                              <h1 class="post-title mb-20 font-weight-900 text-white">
                                  <a class="text-white"  tabindex="0">3 lưu ý không thể bỏ qua khi đầu tư bất động sản Bình Dương</a>
                              </h1>
                              <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                  <span class="post-on">15 September 2020</span>
                                  <span class="hit-count has-dot">17k Views</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="slider-single">
              <div class="post-thumb position-relative">
                  <div class="thumb-overlay position-relative" style="background-image: url(assets/imgs/BDS/nen.jpg)">
                      <div class="post-content-overlay">
                          <div class="container">
                              <h1 class="post-title mb-20 font-weight-900 text-white">
                                  <a class="text-white"  tabindex="0">Nợ ngập đầu chỉ vì “sĩ diện” muốn xây nhà hoành tráng</a>
                              </h1>
                              <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                  <span class="post-on">22 September 2020</span>
                                  <span class="hit-count has-dot">16k Views</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="container position-relative">
          <div class="arrow-cover color-white"></div>
          <div class="featured-slider-2-nav-cover">
              <div class="featured-slider-2-nav">
                  <div class="slider-post-thumb mr-15 mt-20 position-relative">
                      <div class="d-flex hover-up-2 transition-normal">
                          <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                              <img class="border-radius-5" src="assets/imgs/BDS/nen.jpg" alt="">
                          </div>
                          <div class="post-content media-body text-white">
                              <h5 class="post-title mb-15 text-limit-2-row">Chuyên gia nhận định gì về bất động sản TP. Thủ Đức?</h5>
                              <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                  <span class="post-on text-white">26 Aug</span>
                                  <span class="post-by has-dot text-white">18k views</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider-post-thumb mr-15 mt-20 position-relative">
                      <div class="d-flex hover-up-2 transition-normal">
                          <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                              <img class="border-radius-5" src="assets/imgs/BDS/41.jpg" alt="">
                          </div>
                          <div class="post-content media-body text-white">
                              <h5 class="post-title mb-15 text-limit-2-row">Đất nông nghiệp đã hết hạn sử dụng có bán được hay không?</h5>
                              <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                  <span class="post-on text-white">15 Sep</span>
                                  <span class="post-by has-dot text-white">23k views</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider-post-thumb mr-15 mt-20 position-relative">
                      <div class="d-flex hover-up-2 transition-normal">
                          <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                              <img class="border-radius-5" src="assets/imgs/BDS/bia1.png" alt="">
                          </div>
                          <div class="post-content media-body text-white">
                              <h5 class="post-title mb-15 text-limit-2-row">3 lưu ý không thể bỏ qua khi đầu tư bất động sản Bình Dương</h5>
                              <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                  <span class="post-on text-white">18 Sep</span>
                                  <span class="post-by has-dot text-white">17k views</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="slider-post-thumb mr-15 mt-20 position-relative">
                      <div class="d-flex hover-up-2 transition-normal">
                          <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5">
                              <img class="border-radius-5" src="assets/imgs/BDS/39.jpg" alt="">
                          </div>
                          <div class="post-content media-body text-white">
                              <h5 class="post-title mb-15 text-limit-2-row">Nợ ngập đầu chỉ vì “sĩ diện” muốn xây nhà hoành tráng</h5>
                              <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                  <span class="post-on text-white">22 Sep</span>
                                  <span class="post-by has-dot text-white">16k views</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<main>
    <div class="container">
        <div class="hot-tags pt-30 pb-30 font-small align-self-center">
            <div class="widget-header-3">
                <div class="row align-self-center">
                    <div class="col-md-4 align-self-center">
                        <h5 class="widget-title">BDS HOT</h5>
                    </div>
                    <div class="col-md-8 text-md-right font-small align-self-center">
                        <p class="d-inline-block mr-5 mb-0"><i class="elegant-icon  icon_tag_alt mr-5 text-muted"></i>Hot tags:</p>
                        <ul class="list-inline d-inline-block tags">
                            <li class="list-inline-item"><a href="#">Đầu tư nghĩ dưỡng tại Nha Trang</a></li>
                            <li class="list-inline-item"><a href="#">Bùng nổ giao dịch Xuân Mai</a></li>
                            <li class="list-inline-item"><a href="#">Tiềm năng bất động sản Quảng Ninh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="loop-grid mb-30">
            <div class="row">
                <div class="col-lg-8 mb-30">
                    <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                        <div class="arrow-cover"></div>
                        <div class="slide-fade">
                            <div class="position-relative post-thumb">
                                <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(assets/imgs/BDS/123.jpg)">
                                    <a class="img-link" ></a>
                                    <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                        <h3 class="post-title font-weight-900 mb-20">
                                            <a class="text-white" >Chung cư Gemek Premium điểm nóng phía tây Hà Nội</a>
                                        </h3>
                                        <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                            <span class="post-on">20 minutes ago</span>
                                            <span class="hit-count has-dot">23k Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="position-relative post-thumb">
                                <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(assets/imgs/BDS/6.png)">
                                    <a class="img-link" ></a>
                                    <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                        <h3 class="post-title font-weight-900 mb-20">
                                            <a class="text-white" >Thiết kế CONDOTEL COCOBAY - COCO OCEAN RESORT</a>
                                        </h3>
                                        <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                            <span class="post-on">26 August 2020</span>
                                            <span class="hit-count has-dot">18k Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(assets/imgs/BDS/1.jpg)">
                            <a class="img-link" ></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a >Chi tiết thiết kế Biệt Thự song lập dự án Vinhomes Thăng Long</a>
                                </h5>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">27 August</span>
                                    <span class="post-by has-dot">23k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article *ngFor="let item of BaiDangH" class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{item.anh}})">
                            <a class="img-link" [routerLink]="['/tintuc',item.idBaiDang]"></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a [routerLink]="['/tintuc',item.idBaiDang]">{{item.tieuDe}}</a>
                                </h5>
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">{{item.ngayDang}}</span>
                                    <span class="post-by has-dot">{{item.luotXem}} view</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="bg-grey pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-module-2">
                        <div class="widget-header-1 position-relative mb-30  wow fadeInUp animated">
                            <h5 class="mt-5 mb-30">MỚi</h5>
                        </div>
                        <div class="loop-list loop-list-style-1">
                            <div class="row">
                                <article *ngFor="let item of BaiDangN" class="col-md-6 mb-40 wow fadeInUp  animated">
                                    <div class="post-card-1 border-radius-10 hover-up">
                                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{item.anh}})">
                                            <a class="img-link" [routerLink]="['/tintuc',item.idBaiDang]"></a>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="post-content p-30">
                                            <div class="d-flex post-card-content">
                                                <h5 class="post-title mb-20 font-weight-900">
                                                    <a [routerLink]="['/tintuc',item.idBaiDang]">{{item.tieuDe}}</a>
                                                </h5>
                                                <div class="post-excerpt mb-25 font-small text-muted">
                                                    <p>{{item.noiDung}}</p>
                                                </div>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">{{item.ngayDang}}</span>
                                                    <span class="post-by has-dot">{{item.luotXem}} view</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="post-module-3">
                        <div class="widget-header-1 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Tất cả</h5>
                        </div>
                        <div class="loop-list loop-list-style-1">
                            <article *ngFor="let item of BaiDangList" class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url({{item.anh}})">
                                                <a class="img-link" [routerLink]="['/tintuc',item.idBaiDang]"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                            </div>
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a [routerLink]="['/tintuc',item.idBaiDang]">{{item.tieuDe}}</a>
                                                <span class="post-format-icon"><i class="elegant-icon icon_star_alt"></i></span>
                                            </h5>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">{{item.ngayDang}}</span>
                                                <span class="post-by has-dot">{{item.luotXem}} view</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pagination-area mb-30 wow fadeInUp animated">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
                            <img class="about-author-img mb-25" src="assets/imgs/BDS/15.jpg" alt="">
                            <h5 class="mb-20">Xin chào, tôi là Long</h5>
                            <p class="font-medium text-muted">Tôi muốn hỏi là cocobay đà nẵng sắp tới có thêm dự án mini hotel đúng không? Giá bán 1 căn condotel cocobay là bao nhiêu? Dự án cocobay bao giờ ra đợt 2 vậy?</p>
                            <strong>Follow me: </strong>
                            <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                <li class="list-inline-item"><a class="fb" href="#" target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                <li class="list-inline-item"><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li class="list-inline-item"><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">đọc nhiều</h5>
                            </div>
                            <div class="post-block-list post-module-1">
                                <ul class="list-post">
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Vẫn “nóng” chuyện sổ đỏ CONDOTEL</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">05 August</span>
                                                    <span class="post-by has-dot">150 views</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" >
                                                    <img src="assets/imgs/BDS/16.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Legacy Hill thắng lớn tại giải thưởng PropertyGuru Vietnam Property Awards 2020</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">12 August</span>
                                                    <span class="post-by has-dot">6k views</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" >
                                                    <img src="assets/imgs/BDS/17.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Chưa có hiện tượng các dự án công bố giảm giá trong quý 3</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">15 August</span>
                                                    <span class="post-by has-dot">16k views</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" >
                                                    <img src="assets/imgs/BDS/18.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class=" wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Tập đoàn FLC của tỷ phú Trịnh Văn Quyết đề xuất đầu tư những dự án nào ở Quảng Trị?</a></h6>
                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                    <span class="post-on">12 August</span>
                                                    <span class="post-by has-dot">3k views</span>
                                                </div>
                                            </div>
                                            <div class="post-thumb post-thumb-80 d-flex ml-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" >
                                                    <img src="assets/imgs/BDS/19.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget widget-latest-posts mb-50 wow fadeInUp animated">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Nhận Xét</h5>
                            </div>
                            <div class="post-block-list post-module-2">
                                <ul class="list-post">
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="#">
                                                    <img src="assets/imgs/BDS/21.gif" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <p class="mb-10"><a href="author.html"><strong>Duy</strong></a>
                                                    <span class="ml-15 font-small text-muted has-dot">16 Jan 2020</span>
                                                </p>
                                                <p class="text-muted font-small">Có giá bán của chung cư adg palace chưa bạn?</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30 wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="#">
                                                    <img src="assets/imgs/BDS/22.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <p class="mb-10"><a href="author.html"><strong>Điệp</strong></a>
                                                    <span class="ml-15 font-small text-muted has-dot">12 Feb 2020</span>
                                                </p>
                                                <p class="text-muted font-small">giá bán 1 căn condotel cocobay là 1.2 tỷ?</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="wow fadeInUp animated">
                                        <div class="d-flex bg-white has-border p-25 hover-up transition-normal border-radius-5">
                                            <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                                <a class="color-white" href="#">
                                                    <img src="assets/imgs/BDS/20.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <p class="mb-10"><a href="author.html"><strong>Hoàng</strong></a>
                                                    <span class="ml-15 font-small text-muted has-dot">18 May 2020</span>
                                                </p>
                                                <p class="text-muted font-small">Nên đầu tư khi nào là hợp lí nhất?</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget widget_instagram wow fadeInUp animated">
                            <div class="widget-header-1 position-relative mb-30">
                                <h5 class="mt-5 mb-30">Facebook: batdongsannhs/sonpinky</h5>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/23.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/24.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/25.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/26.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/27.jpeg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/motbanchung.can/"><img class="border-radius-5" src="assets/imgs/BDS/28.jpeg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Main content -->
<!--site-bottom-->
<div class="site-bottom pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">BDS giá rẻ</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post">
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/29.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Mẫu nhà mái thái 1 tầng hứa hẹn lên ngôi cuối năm 2020</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">27 Jan</span>
                                            <span class="post-by has-dot">13k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/30.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >2Cưỡng chế công trình không phép, chiếm đất tại dự án KCN 'treo' 18 năm</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">27 August</span>
                                            <span class="post-by has-dot">14k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/31.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >TP.HCM 'siết’ cấp phép dự án có condotel, shophouse, biệt thự nghỉ dưỡng</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">29 August</span>
                                            <span class="post-by has-dot">23k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Dự án</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post">
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/32.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Chủ khu ẩm thực gần 25.000m2 xây không phép xin tồn tại công trình</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">12 August</span>
                                            <span class="post-by has-dot">3k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/33.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Nhà cao tầng trên 100m phải có tầng lánh nạn phòng cháy</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">15 August</span>
                                            <span class="post-by has-dot">4.1k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/34.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Sức hút từ vị trí của Grand Sapphire 2 - Vinhomes Smart City Journal</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">16 August</span>
                                            <span class="post-by has-dot">2.2k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Nhà đẹp</h5>
                    </div>
                    <div class="post-block-list post-module-1">
                        <ul class="list-post">
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/35.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >BST Jotun 2021: Đột phá trên bảng màu cổ điển</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">06 May</span>
                                            <span class="post-by has-dot">23k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/36.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Dành 10ha đất dự án Đại học Quốc gia TP.HCM bố trí tái định cư</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">05 Jun</span>
                                            <span class="post-by has-dot">5k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" >
                                            <img src="assets/imgs/BDS/37.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a >Những ý tưởng trang trí nhà theo phong cách mùa thu</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">08 August</span>
                                            <span class="post-by has-dot">2k views</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!--container-->
</div>
<!--end site-bottom-->
